{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/css/select2.min.css" rel="stylesheet">-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.1.0-beta.1/js/select2.min.js"></script>-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>



    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="{% url 'index' %}">
                AskMe
            </a>
        </div>
        <div class="search-form">
            <form action="#" class="search-form">
                <input type="search" class="search-form-input" placeholder="Search..." maxlength="64">
                <button type="submit" class="search-form-submit">Search</button>
            </form>
        </div>
        {% if request.user.is_authenticated %}
            {% include 'base_authorized.html' %}
        {% else %}
            {% include 'base_unauthorized.html' %}
        {% endif %}
<!--        {% block account %}{% endblock %}-->
    </header>

    <main class="container">
        <div class="content">
            <div class="left">
                <div class="title-bar">
                    {% block title-bar %}{% endblock %}
                </div>
                {% block main-content %}{% endblock %}
            </div>
            {% include 'sidebar.html' %}
        </div>
    </main>
</body>
</html>
