{% extends "base.html" %}
{% load static %}

{% block title %}
    Log In
{% endblock %}

{% block title-bar %}
    <h1>Log In</h1>
{% endblock %}

{% block main-content %}
    <form action="#" class="login-form" method="post">
        {% csrf_token %}
        <div class="form-line">
            <p class="form-title">Username</p>
            <div class="input-block">
                <input type="text" name="username" class="question-form-input" maxlength="32">
                {% if form.username.errors %}{{ form.username.errors }}{% endif %}
            </div>
        </div>
        <div class="form-line">
            <p class="form-title">Password</p>
            <div class="input-block">
                <input type="password" name="password" class="question-form-input" maxlength="32">
                {% if form.password.errors %}{{ form.password.errors }}{% endif %}
            </div>
        </div>
        <div class="form-line">
            <p class="form-title"></p>
            <div class="btn-block">
                <button type="submit" class="form-submit">Log in</button>
                <p>
                    <a href="{% url 'signup' %}" class="create-account">
                        Create new account
                    </a>
                </p>
            </div>
        </div>
    </form>
{% endblock %}