{% extends "base.html" %}
{% load static %}

{% block title %}
    Settings
{% endblock %}

{% block title-bar %}
    <h1>Settings</h1>
{% endblock %}

{% block main-content %}
    <form action="#" class="settings-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-line">
            <p class="form-title">Username</p>
            <div class="input-block">
                <input value="{% if form.username.value %}{{ form.username.value }}{% else %}{{ request.user.username }}{% endif %}" type="text" class="question-form-input" name="username" maxlength="25">
                {% if form.username.errors %}{{ form.username.errors }}{% endif %}
            </div>
        </div>
        <div class="form-line">
            <p class="form-title">Email</p>
            <div class="input-block">
                <input value="{% if form.email.value %}{{ form.email.value }}{% else %}{{ request.user.email }}{% endif %}" type="email" class="question-form-input" name="email" maxlength="32">
                {% if form.email.errors %}{{ form.email.errors }}{% endif %}
            </div>
        </div>
        <div class="form-line">
            <p class="form-title">Name</p>
            <div class="input-block">
                <input value="{% if form.first_name.value %}{{ form.first_name.value }}{% else %}{{ request.user.first_name }}{% endif %}" type="text" class="question-form-input" name="first_name" maxlength="32">
                {% if form.first_name.errors %}{{ form.first_name.errors }}{% endif %}
            </div>
        </div>
        <div class="form-line">
            <p class="form-title">Upload avatar</p>
            <div class="avatar-input">
                {% if request.user.profile.avatar %}
                    <div class="account-image">
                        <img src="{{ request.user.profile.avatar.url }}" alt="avatar" class="settings-avatar">
                    </div>
                {% endif %}
                <input type="file" name="avatar" id="actual-btn" accept="image/png, image/jpeg" hidden/>
                <div class="choose-file-block">
                    <label for="actual-btn" class="choose-file">Choose File</label>
                    <span id="file-chosen">No file chosen</span>
                </div>
                <script>
                    const actualBtn = document.getElementById('actual-btn');
                    const fileChosen = document.getElementById('file-chosen');
                    actualBtn.addEventListener('change', function() {
                    fileChosen.textContent = this.files[0].name
                    })
                </script>
            </div>
        </div>
        {{ form.avatar.errors }}
        <div class="form-line">
            <p class="form-title"></p>
            <button type="submit" class="form-submit">Save</button>
        </div>
    </form>
{% endblock %}