{% extends "base_authorized.html" %}
{% load static %}

{% block title %}
    Tag {{ tag }}
{% endblock %}

{% block title-bar %}
    <div class="left">
        <h1>
            Tag:
            <a>{{ tag }}</a>
        </h1>
    </div>
    <a class="ask-question-btn" href="{% url 'ask' %}">
        Ask question
    </a>
{% endblock %}


{% block main-content %}
    <div class="cards">
        {% for question in page %}
            {% include 'question_card.html' %}
        {% endfor %}
        {% include 'pagination.html' %}
    </div>
{% endblock %}
