<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./../static/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="#">
                AskMe
            </a>
        </div>
        <div class="search-form">
            <form action="#" class="search-form">
                <input type="search" class="search-form-input" placeholder="Search..." maxlength="64">
                <button type="submit" class="search-form-submit">Ask</button>
            </form>
        </div>
        <div class="account">
            <a href="#" class="log-in-btn">Log In</a>
            <a href="#" class="register-btn">Register</a>
        </div>
    </header>

    <main class="container">
        <div class="title-bar">
            <h1>
                Log In
            </h1>
        </div>

        <p class="form-error">
            Wrong login or password
        </p>

        <div class="content">
            <form action="#" class="login-form">
                <div class="form-line">
                    <p class="form-title">Login</p>
                    <input type="text" class="question-form-input" value="Dr. Pepper" maxlength="32">
                </div>
                <div class="form-line">
                    <p class="form-title">Password</p>
                    <input type="password" class="question-form-input" value="password" maxlength="16">
                </div>
                <div class="form-line">
                    <p class="form-title"></p>
                    <div class="btn-block">
                        <button type="submit" class="form-submit">Log in</button>
                        <p>
                            <a href="#" class="create-account">
                                Create new account
                            </a>
                        </p>
                    </div>
                </div>
            </form>

            <aside class="sidebar">
                <section class="popular-tags">
                    <h3>Popular Tags</h3>
                    <div class="tags">
                        <div class="tag">
                            <a href="#">perl</a>
                        </div>
                        <div class="tag">
                            <a href="#">python</a>
                        </div>
                        <div class="tag">
                            <a href="#">techno-park</a>
                        </div>
                        <div class="tag">
                            <a href="#">MySQL</a>
                        </div>
                        <div class="tag">
                            <a href="#">django</a>
                        </div>
                        <div class="tag">
                            <a href="#">mail.ru</a>
                        </div>
                        <div class="tag">
                            <a href="#">Voloshin</a>
                        </div>
                        <div class="tag">
                            <a href="#">Firefox</a>
                        </div>
                    </div>
                </section>

                <section class="best-members">
                    <h3>Best Members</h3>
                    <ul class="best-members-list">
                        <li><a href="#">Mr. Freeman</a></li>
                        <li><a href="#">Dr. House</a></li>
                        <li><a href="#">Bender</a></li>
                        <li><a href="#">Queen Victoria</a></li>
                        <li><a href="#">V. Pupkin</a></li>
                    </ul>
                </section>
            </aside>
        </div>
    </main>
</body>
</html>
