body {
    box-sizing: border-box;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

:root {
    --a-default: #1C75CF;
    --a-hover: #235ad1;
    --gray: #D7D9DC;
    --bg-gray: #F1F2F3;
    --bg-gray-h: #E2E6E8;
    --d-gray: #3B4044;
    --d-gray-h: #000000;
    --white: #ffffff;
    --green: #18864B;
    --red: #9C2221;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

p {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: var(--a-default);
}

textarea {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    resize: none;
    border-radius: 12px;
    padding: 12px 16px;
    border: solid var(--gray) 1px;
}

a:hover {
    color: var(--a-hover);
}

header {
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 64px;
    box-sizing: border-box;
    border-bottom: solid var(--gray) 1px;
    top: 0;
	height: 61px;
}

main {
    padding: 85px 64px;
}

.account-image {
    width: 40px;
    height: 40px;
}

.account-name {
    font-weight: 500;
}

.avatar {
    width: 40px;
    height: 40px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    border-radius: 8px;
}

.logo {
    font-size: 20px;
    font-weight: 500;
}

.account {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    height: 32px;
}

.account-actions {
    display: flex;
    gap: 12px;
}

.search-form {
    height: 32px;
    display: flex;
    gap: 4px;
}

.search-form-submit {
    border: none;
    border-radius: 8px;
    background-color: var(--a-default);
    padding: 0 12px;
    color: white;
    cursor: pointer;
    height: 100%;
    font-weight: 400;
    font-size: 14px;
}

.search-form-submit:hover {
    background-color: var(--a-hover);
}

.search-form-input {
    height: 100%;
    width: 300px;
    border: solid var(--gray) 1px;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
}

.title-bar {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    justify-content: space-between;
}

.content {
    display: flex;
    gap: 32px;
}

.cards {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 30%;
}

article {
    padding: 24px 24px;
    border: solid var(--gray) 1px;
    border-radius: 12px;
}

.card {
    display: flex;
    gap: 16px;
}

.question {
    display: flex;
    gap: 16px;
}

.answer-card {
    display: flex;
    gap: 16px;
}

.card-left {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
    min-width: 75px;
}

.card-image {
    min-width: 75px;
    min-height: 75px;
    width: 100%;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    border-radius: 8px;
}

.card-likes {
    width: 100%;
    padding: 2px 6px;
    box-sizing: border-box;
    border: solid var(--gray) 1px;
    border-radius: 6px;
    font-size: 16px;
    font-family: sans-serif;
}

.card-title {
    margin: 0;
    font-size: 24px;
}

.card .answers-count {
    font-size: 14px;
    padding: 2px 8px;
    color: var(--green);
    border: solid var(--green) 1px;
    border-radius: 6px;
}

.card .answers-count:hover {
    color: var(--green);
}

.card-tags {
    display: flex;
    gap: 4px;
    align-items: center;
}

.tag {
    background-color: var(--bg-gray);
    color: var(--d-gray);
    padding: 2px 8px;
    border-radius: 6px;
}

.tag:hover {
    background-color: var(--bg-gray-h);
    color: var(--d-gray-h);
}

.tag a {
    color: black;
    font-weight: 500;
    font-size: 14px;
}

.card-right-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 16px;
}

.card-right-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popular-tags {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.best-members {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul {
    margin: 0;
}

.best-members-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.best-members-list li::before {
    content: '';
}

.pagination {
    margin-top: 24px;
    box-sizing: border-box;
    display: flex;
    gap: 4px;
}

.pagination a {
    background-color: var(--white);
    border: solid var(--gray) 1px;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
    box-sizing: border-box;
}

.pagination a:hover {
    background-color: var(--bg-gray-h);
}

.pagination .active {
    background-color: var(--a-default);
    color: var(--white);
    border: solid var(--a-default) 1px;
    cursor: default;
}

.pagination .active:hover {
    background-color: var(--a-default);
    color: var(--white);
    border: solid var(--a-default) 1px;
}














input {
    font-size: 16px;
}

.question-form, .login-form, .register-form, .settings-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
}

.form-line {
    display: flex;
    align-items: top;
}

.question-form .form-title {
    min-width: 64px;
    width: 15%;
    max-width: 80px;
}

.form-submit {
    border: none;
    border-radius: 8px;
    background-color: var(--a-default);
    padding: 8px 12px;
    color: white;
    cursor: pointer;
    height: fit-content;
    font-weight: 400;
    font-size: 14px;
    width: 100%;
}

.form-submit:hover {
    background-color: var(--a-hover);
}

.question-form-input {
    width: 100%;
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 8px;
    border: solid var(--gray) 1px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.content-left {
    display: flex;
    flex-direction: column;
}

.divider {
    height: 1px;
    background-color: rgb(216, 216, 216);
    margin: 32px 0;
}





.answer-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
}

.answers {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 2px;
}

.form-title {
    height: fit-content;
    padding: 8px 0;
    font-weight: 500;
}

.login-form .form-title {
    min-width: 96px;
    width: 15%;
    max-width: 100px;
}

.register-form .form-title {
    min-width: 150px;
    width: 15%;
    max-width: 200px;
}





.settings-form .form-title {
    min-width: 120px;
    width: 15%;
    max-width: 150px;
}

.settings-form .account-image {
    width: 75px;
    height: 75px;
}

.avatar-input {
    display: flex;
    flex-direction: column;
    gap: 12px;
} 

.create-account {
    font-size: 14px;
}

.btn-block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.content-left {
    width: 70%;
}








label {
    font-family: "Roboto", sans-serif;
}

.choose-file-block {
    display: flex;
    align-items: center;
    gap: 12px;
}

.choose-file {
    background-color: var(--white);
    color: var(--a-default);
    border: solid var(--a-default) 1px;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    text-align: center;
    width: fit-content;
}

.choose-file:hover {
    color: var(--a-hover);
    border: solid var(--a-hover) 1px;
}
  
#file-chosen{
    font-size: 14px;
    font-family: sans-serif;
}

button {
    font-family: sans-serif;
}

.log-in-btn, .register-btn {
    border: solid var(--a-default) 1px;
    padding: 0 12px;
    height: 100%;
    cursor: pointer;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.log-in-btn:hover {
    border: solid var(--a-hover) 1px;
}

.register-btn {
    background-color: var(--a-default);
    color: var(--white);
}

.register-btn:hover {
    background-color: var(--a-hover);
    color: var(--white);
}



.form-error {
    margin-bottom: 20px;
    color: var(--red);
    font-size: 14px;
}

.settings-avatar {
    width: 75px;
    height: 75px;
    border: 1px solid var(--gray);
    box-sizing: border-box;
    border-radius: 8px;
}

.hidden-pages {
    margin: 0 4px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 70%;
}



.title-bar .left {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    gap: 20px;

}

.ask-question-btn {
    border: none;
    border-radius: 8px;
    background-color: var(--a-default);
    padding: 0 12px;
    color: white;
    cursor: pointer;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.ask-question-btn:hover {
    text-decoration: none;
    color: var(--white);
    background-color: var(--a-hover);
}

.content .left {

}